# Gem
/.bundle/
/.yardoc
/_yardoc/
/coverage/
/doc/
/pkg/
/spec/reports/
/tmp/
y-rb-*.gem
y_rb-*.tar.gz
mkmf.log

# rspec failure tracking
.rspec_status

# Added by cargo
/target
Cargo.lock

# build artifacts
lib/y_rb.so
build/out
