# Gem
/.bundle/
/.yardoc
/_yardoc/
/coverage/
/doc/
/pkg/
/spec/reports/
/tmp/
y-rb-*.gem
y_rb-*.tar.gz
mkmf.log

# rspec failure tracking
.rspec_status

# Added by cargo
/target

# build artifacts
ext/**/target
pkg/
lib/yrb.bundle
lib/*.*
!lib/*.rb
build/out
vendor/
target/
Gemfile.lock
