name: CI

on:
  push:
    branches:
      - main
      - migrate-to-magnus

  pull_request:

jobs:
  ci:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: ["ubuntu-latest", "macos-latest", "windows-latest"]
        ruby: ["2.7", "3.0", "3.1", "head"]
    steps:
      - uses: actions/checkout@v3

      - uses: oxidize-rb/actions/setup-ruby-and-rust@v1
        with:
          ruby-version: ${{ matrix.ruby }}
          bundler-cache: true
          cargo-cache: true
          cache-version: v1

      - name: Run ruby tests
        run: bundle exec rake

      - name: Run rust tests
        run: cargo test

      - name: Lint rust
        run: |
          cargo clippy || true # consider enabling this once lints are fixed
          cargo fmt --check || true # consider enabling this once lints are fixed
