name: Build and release gem

on:
  workflow_dispatch:
  push:
    branches:
      - main
    tags:
      - 'v*'

jobs:
  native_gem:
    name: Compile native gem
    runs-on: ubuntu-latest
    strategy:
      matrix:
        platform:
          - "aarch64-linux-gnu"
          - "aarch64-linux-musl"
          - "arm64-darwin"
          - "x86_64-darwin"
          - "x86_64-linux-gnu"
          - "x86_64-linux-musl"
          - "x64-mingw32"
          - "x64-mingw-ucrt"
    environment: "yrb-deploy"
    steps:
      - uses: actions/checkout@v2

      - uses: oxidize-rb/actions/setup-ruby-and-rust@main
        with:
          rubygems: latest
          ruby-version: "3.2"
          bundler-cache: false
          cargo-cache: true
          cargo-vendor: true

      - name: Transform platform name
        id: transform_platform
        run: echo "cross_gem_platform=$(echo '${{ matrix.platform }}' | sed 's/-gnu$//')" >> $GITHUB_ENV

      - uses: oxidize-rb/cross-gem-action@main
        with:
          platform: ${{ env.cross_gem_action_platform }}
          version: 'latest'
          env: |
            RUBY_CC_VERSION=3.4.0:3.3.5:3.2.0:3.1.0

      - uses: actions/download-artifact@v3
        with:
          name: cross-gem
          path: pkg/

      - name: Display structure of built gems
        run: ls -R
        working-directory: pkg/

      - name: Release gem
        if: startsWith(github.ref, 'refs/tags/v')
        working-directory: pkg/
        env:
          RUBYGEMS_API_KEY: ${{secrets.RUBYGEMS_API_KEY}}
        run: |
          mkdir -p $HOME/.gem
          touch $HOME/.gem/credentials
          chmod 0600 $HOME/.gem/credentials
          printf -- "---\n:rubygems_api_key: ${RUBYGEMS_API_KEY}\n" > $HOME/.gem/credentials
          for i in *.gem; do
            if [ -f "$i" ]
            then
              gem push "$i" || true
            fi
          done
